<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
  <head>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="sbaird.net" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
  </head>

  <body>
<nav>
  <ul class="menu">
    <a class="logo-link" href="/">
    {{ with resources.Get "logo.svg" }}
      {{ .Content | safeHTML }}
    {{ end }}
    </a>
    <span class="logo-text">    <a class="logo-text" href="/">sbaird.net</a></span>
    {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  <hr/>
</nav>  